/**
 * 	Name: exergie.css
 *
 *	Main stylesheet
 *
 *  T.O.C
 *
 *
 */
/**
* @uses: https://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/
*/
@import "variables/variables";
@import "mixins/mixins";

@import "partials/typography";
@import "partials/utils";
@import "partials/buttons";
@import "partials/forms";
@import "partials/icons";
@import "partials/header";
@import "partials/menu";
@import "partials/headers/classic";
@import "partials/headers/sidebar";
@import "partials/headers/offcanvas";
@import "partials/title-area";
@import "partials/sections/blog";
@import "partials/woocommerce";
@import "partials/back-top";
@import "partials/upsell";

@import "partials/widgets/base";
@import "partials/widgets/archive";
@import "partials/widgets/calendar";
@import "partials/widgets/categories";
@import "partials/widgets/meta";
@import "partials/widgets/nav-menu";
@import "partials/widgets/pages";
@import "partials/widgets/recent-comments";
@import "partials/widgets/recent-posts";
@import "partials/widgets/rss";
@import "partials/widgets/search";
@import "partials/widgets/tag-cloud";
@import "partials/widgets/text";

@import "partials/sections/base";
@import "partials/sections/section-services";
@import "partials/sections/section-portfolio";
@import "partials/sections/section-testimonials";
@import "partials/sections/section-features";
@import "partials/sections/section-video";
@import "partials/sections/section-team";
@import "partials/sections/section-pricing";
@import "partials/sections/section-blog";
@import "partials/sections/section-contact";
@import "partials/sections/section-footer";
@import "partials/sections/section-counters";
@import "partials/sections/section-progress";
@import "partials/sections/section-piecharts";
@import "partials/sections/section-clients";
@import "partials/sections/section-map";
@import "partials/sections/section-advanced-slider";
@import "partials/sections/section-cta";
@import "partials/sections/section-about";
@import "partials/sections/section-openhours";
@import "partials/sections/section-accordion";
@import "partials/sections/section-iconboxes";
@import "partials/sections/section-newsletter";
@import "partials/sections/section-instagram";

@import "partials/effects";


@include media('<=768px') {
	.bni-rsp {
		display: block;
	}

	.show-more-comments {
		display: none;
	}
	.comment-hidden-mobile + .show-more-comments {
		display: block;
	}

	.slick-next {
		width: 75px;
		padding-left: 0;
		padding-right: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.slick-prev {
		width: 75px;
		padding-left: 0;
		padding-right: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.portfolio-wrapper-arrows {
		width: 100px;
		height: 50px;
	}
}

.bypostauthor {
	font-size: initial;
}

.container.container-boxedcenter {
	@media (min-width: 992px) {
		width: 970px;
	}
}

.ewf-section-hidden {
	display: none !important;
}

.efw-section-visible {
	display: block !important;
}

.main-container {
	padding-top: 60px;
	padding-bottom: 60px;
}
