/*
 Theme Name:   exergie theme Child
 Theme URI:    
 Description:  Le Thème pour Exergie
 Author:       Malik Koné & Anémone Kouadio
 Author URI:   https://www.tiko.ci
 Template:     portum
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags: Blog, E-Commerce
 Text Domain:  twenty-fifteen-child
*/
/* test */
@import url("../portum/style.css");

/*--Header*/
/* #header.portum-classic header--over-content header--no-shadow header--has-sticky-logo stuck{ */
/*     background-color: #FFFFFF !important; */
/* } */
/* #header ul a{ */
/* 	color: #2f2f31 !important; */
/* } */
/* #header ul a:hover { */
/* 	color: #cc662e !important; */
/* } */
/* /\*End oh the header*\/ */

/* .ewf-btn:hover{ */
/* 	background-color: #cc672d !important; */
/* } */

