/*
Theme Name: Exergie
Theme URI:
Author: Tiko Themes
Author URI: https://home.tiko.ci/
Description: Exergie an agency based theme
Version: 1.0.6
Tags: Blog, E-Commerce
Text Domain: exergie
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/

/* les jeux de couleurs */
/* primaire */
#C95A2E
#EFEFEF
#E0AB96
#AC3100
#9B2C00

/* Secondaire */
#2C4088
#A2A2A2
#6B7598
#0A2175
#011769

/* tertiare */
#95BE2B
#E2E2E2
#C0D48D
#75A200
#6A9200


/* taille par défaut des images de l'entête des pages */
div.custom-header img{
    height:300px;
    width:100%;
}


/* ewf-slider__slides.slick-initialized.slick-slider img{ */
/*     height:25px; */
/*     width:250px; */
/* } */


/* font pour le header*/
#header{
    background-color: white !important;
}

/*#header a{
    font-size: 15px;
}
#header ul.exergie-menu.fixed ul.sub-menu a {
    font-size: 15px !important;
}*/

#custom_html-5{
    /* envoie le contenu de la sidebar 5 à droite */
    float: right;
    margin-bottom:0px;
}
/* taille des images client bas de page */
.slick-slide img{
    height:150px;
}

/* les boutons du milieu de la page principale */
div.ewf-section-text a.ewf-btn.ewf-btn--huge:hover{
    background-color: #ffff !important;
    color: #011769 !important;
}

 /*input.ewf-btn { 
    border-color: #011769;
    border-radius: 5px;
} */

.ewf-btn:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:focus, input[type="submit"]:focus, input[type="button"]:focus {
    background-color: #ffff !important;
    color: #011769 !important;
    border-color: #011769;
    border-radius: 5px;
}

#back-to-top.visible:hover {
    background-color: #95BE2B !important;
    color: #6B7598 !important;
}

/* Section des services */
h3, .ewf-like-h3 {
    font-size: 2em !important;
    font-weight:600 !important;
    font-family: "Noto Serif" !important;
}

div .ewf-like-h6{
    color: #011769 !important;
    font-weight: 200 !important;
    font-size: 1.5em !important;
}

.ewf-section{
    padding:0 !important;
}

/* la partie call action */
div#call-action div.ewf-section__content div.container{
    width:50%;
    float:left;
}
div#call-action div.ewf-section__content div.container div.col-md-12{
    margin: 8em 0em 0em 0em;
}

div#contact-form div.ewf-section__content div.container{
    /* width:50%; */
}

div.services-item  i.ewf-icon:hover{
    /* background-color: #E0AB96 !important; */
    background-color: #a0a0a1!important;
    color: #011769 !important;

}

#contact-form tr td{
    border: 0px;
}

/* changement à faire ne js `onhover.selectSibling.setAttribute("color"," #95BE2B");`
div.ewf-like-h6:hover{ */
/*     color: #95BE2B !important; */
/* } */


/*  Call to action */

#call-action{
    padding-bottom: 3em !important;
}

#call-action  .headline > h3{
    color:white !important;
}

/* une marge après les clients */
div.section-clientlist div.ewf-section__content{
    margin-bottom:3em;
}


.ewf-btn:hover{
    background-color: #cc672d !important;
}



/* Taille du menu */
#menu{
    font-size:1.1em;
}


/* **** Style des pages ****/
div.intro-item{
    border: 1px black solid;
}


/***** Pages ****/
div.intro-item {
    border: 1px black solid;
    border-radius:5px;
}

.post-content {
    position: relative;
    padding-bottom: 3em;
    
}

/** divers **/
a .ewf-btn .ewf-btn--huge{
    border-radius: 5px; !important
}


/** en lien **/
.sf-menu a:hover, .sf-menu a:focus, #header ul a:hover, #header ul a:focus, #header ul li.menu-item-has-children:hover > a, #header ul li.menu-item-has-children:hover > a:hover{
    background-color: #EFEFEF !important;
    color:#AC3100 !important;
}

/* @media (min-width: 769px) */
/* #header.exergie-classic .exergie-menu .sub-menu{ */
/*     font-size: 20px !important; */
/* } */

/* li#menu-item-762 a{ */
/*     font-size: 20px !important; */
/* } */


ul.exergie-menu.fixed ul.sub-menu a{
    font-size: 15px !important;
}

/* les services */
div#nos-services{
    
}

#nos-services div.row {
    margin-top: -5.6em;
}

/* page contact */
#contenant-contact {
    display: grid;
    grid-template-columns:  20% 30% 15% 1fr;
    grid-template-rows: 1fr 1fr 1fr 300px 1fr;
}

/* pour les contacts et les icons */
#contact-item0i{
    width:75px;
    margin:auto;
    grid-column: 1/ 2; grid-row: 1 / 2;}
#contact-item1i{
    width:75px;
    margin:auto;
    grid-column: 1/ 2; grid-row: 2 / 3;}
#contact-item2i{
    width:75px;
    margin:auto;
    grid-column: 3/ 4; grid-row: 1 / 2;}
#contact-item3i{
    width:75px;
    margin:auto;
    grid-column: 3/ 4; grid-row: 2 / 3;} 

#contact-item0s{
    width: 80%;
    grid-column: 2/ 3; grid-row: 1 / 2;}
#contact-item1s{
    width: 80%;
    grid-column: 2/ 3; grid-row: 2 / 3;}
#contact-item2s{
    width: 80%;
    grid-column: 4/ 5; grid-row: 2 / 3;}
#contact-item3s{
    width: 80%;
    grid-column: 4/ 5; grid-row: 1 / 2;}
#contact-map{
    width:100%;
    height:100%;
    grid-column: 1/ 5; grid-row: 4 /  5;}

/* pour les pages */
div.page-container{
    /* margin-top:2em; rajoute trop d'espace en haut je ne sais plus pourquoi c'est ajouté
peut être ancien modèle des pages*/
    /* margin-left:2em; */
    /* margin-right:2em; */

}

div.page-sidebar-col{
    margin-top:2em;
}


/* menu formation */
#menu-formation_contact li a{
    color: black;
    font-family: 'courgette'!important;
    height: 3em;
    padding: 0;
    text-align: left;
    width: 100%;
    padding: 0;
    font-size: 1.1em;
}

/* veux mettre le lien du menu quand active en bleu mais pb */
#menu-formation_contact li a:active span,
#menu-formation_contact li a:active i {
    color: #2C4088;
}
#menu-formation_contact li a:before{
    content:None;
    /* exemple de contenu à mettre avant les liens du menu */
    /* "\f101" : >>; */
    /* "\f18e" : flèche dans cercle */
    /* "\f061" fa fa-arrow-right */
    /* "\f0ce" : un tableau */
    /* "\f0a4" : fa fa-hand-o-right */
    /* "\f1fa": fa fa-at; */
    /* "\f274"; fa fa-calendar-check-o; */
    /* "\f2b5":fa fa-handshake-o; */
    /* "\f10b":    fa fa-mobile-phone */
}

#menu-formation_contact .menu-item i._mi{
    width:2em;
    
}
#menu-formation_contact li:hover{
    background-color: #EFEFEF;
    color:#AC3100;
    
}

#menu-formation_contact li a:hover{
    color:#AC3100;
}
/*css sibar menu-latéral*/

#menu-latéral li a{
    color: black;
    font-family: 'courgette';
    width: 250px;
    text-align: center;
}

#menu-latéral li:hover{
    background-color: #EFEFEF;
    color:#AC3100;
    
}
#menu-latéral li a:hover{
    color: #AC3100;
}
ul#menu-latéral li{
    display:block;
    height: 2em;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    padding: 1.5em 1em 1.5em 1.5em;
    

}
/* C'est laquelle des modifications que tu as faites Emma ? */
/* #menu-formation_contact a:hover{ */  
/*     color: #cc672e !important; */
/* } */


/* social icones in footer */
div.textwidget div.footer-social-icons{
    float:left;
    diplay:block;
}

/* Attention très général et défini ici il écrase tout les style que l'on peut faire depuis l'interface*/

div.ewf-section-text p {
    font-family: "Indie Flower" !important;
    
    /* font-size: 15px; */
    line-height:1.1em;    
    /* pourquoi pas black ? */
    /* color: #312f2f; */
    color:black;
}

.ewf-btn.ewf-btn--huge{
    border-color: #6B7598;
}

ul, ol {
    list-style-position: inside;
    list-style: outside none none;
    list-style-type: none;
    color: #6B7598 ;
    font-family: 'IBM Plex Serif', serif;
    /* font-family: 'verdana'; */
    line-height: inherit;
    font-weight: inherit;
}

/* liste dans les postes */
div.post-content ul{
    padding-left: 1em;
}

div.post-content li{
    /* color: #6B7598 ; pas assez visible */
    color: #AC3100;
    display: list-item; 
    margin-top: .4em;
}
div.post-content li:hover{
    font-size:large;
    padding:3px;
    background: #EFEFEF;
}
.ewf-slider .ewf-slider__slides li .ewf-slider-slide__content{
    width: 1140px !important;
    margin-right: 20px;
    margin-left: 20px;
}

/*.slick-track{
    width: 2000px !important;
}*/
/*sidebar menu-nav*/


/*fin sidebar-nav*/
/*css footer*/
#footer-bottom {
    background-color: #E2E2E2 !important;
    margin-top:2em;
}
.active{
    background-color:  #2C4088 !important;
    color: #ffff !important;
}
.img-partners{
    width: 100px !important;
    height: 100px !important;
}

/*  Updates du jeudi et vendredi */

/* fixons la largeur de la page*/
div#wrap{
    margin-left: 4em;
    margin-right: 4em;
    border-left: 1px solid #95BE2B;
    border-right: 1px solid #95BE2B;
    box-shadow: 5px 0px 50px 0px;
    padding-left: 1em;
    padding-right: 1em;
}


/* pour le titre Nos services */
#nos-services div.ewf-section-text .headline h3{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.6em;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #2C4088A0;
    color: #ffff;
}

div.ewf-slider-slide__content{
    /* background-color: #95BE2B80; */
    background-color: #2C408840;

}

/* Styler les titres du slider */
div.ewf-advanced-slider.ewf-slider div.ewf-like-h1{
    /* border-radius: 5px; */
    /* background-color: #2C408850; */
    /* padding:1em; */
}


/** footer **/
#footer a:hover{
    color: #AC3100 !important;
}
#footer-bottom-widget-area-2 div{
    display: block;
    float: left;
}

#footer-bottom{
    /* border-bottom-right-radius: 20px; */
    /* border-bottom-left-radius: 20px; */
}

#nos-services div.ewf-section__content{
    margin-bottom:0px;
}

/* enlève marge sous les services pour remonter l'actualité */
#nos-services div.col-sm-4.ewf-item__spacing-lg {
    margin-bottom:0px;
}

/* pour le fil d'actualité */
div#shortcode-actu div.headline{
    display: block;
    float: left;
    width: 20%;
}
#mtphr-dnt-335{
    display: block;
    width: 80%;
    float: right;
    
    box-shadow: inset 5px 0px 4px #2C4088A0,
		inset -5px 0px 4px #2C4088A0;
}

div.mtphr-dnt-wrapper, div.mtphr-dnt-tick-container{
    height:3em;
}
div.mtphr-dnt-tick-contents{
    height:100% !important;
}
div#shortcode-actu div.headline h3{
    margin-top:0px;
}

div#shortcode-actu{
    line-height:3em;
}
/*////////////////
.widget .widget_nav_menu {
    width: 300px;
    
}
#sidebar .widget {
    margin-bottom: 40px;
    color: #a2a2a2;
}
.widget .widget_nav_menu{
    margin: 0;
    list-style: none;
    padding: 0;
    background-color: #fff;
    border-radius: 3px;
    border-color:  #a2a2a2;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.08);
}
#sidebar .widget {
    color: #a2a2a2;
}
.widget .widget_nav_menu{
    list-style: none;
}
.widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#sidebar .widget .widget_nav_menu ul li{
    background: none;
    padding: 0;
}
#sidebar .widget ul li .menu-item-object-page
#sidebar .widget ul li .menu-item{
    font-weight: bold;
}

#nav_menu-2{
    margin-top:2em;
    width: 300px;
}
#nav_menu-2 .menu-formation_contact-container{
    color: #a2a2a2;
}
.menu-formation_contact-container{
    margin: 0;
    list-style: none;
    padding: 0;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.08);
}
.menu-formation_contact-container ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#nav_menu-2 .menu-formation_contact-container ul li{
    background: none;
    padding: 0;
    margin-bottom: 15px;
}
*/

/* pour les nouvelles dans la side bar */
#mtphr-dnt-1161-widget div.mtphr-dnt-wrapper{
    display: block;
    width: 100%;
    box-shadow: inset 0px 5px 4px #2C4088A0,
		inset 0px -5px 4px #2C4088A0;
    padding-top: 2em;
    padding-left: 10px;
    padding-right: 1px;
    
}

#mtphr-dnt-1161-widget div.mtphr-dnt-wrapper, div.mtphr-dnt-tick-container{
    height:5em;
}


#post-44 div.su-spoiler-title{
    color: #011769 ;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.5em;
}

#post-44 div.su-accordion li:hover{
    font-size:inherit;
    padding:0px;
    background: none;
}

div.wpbc_structure_form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

div.form-group:nth-child(1){
    grid-column: 1 / 1;
    grid-row: 1;
}
div.form-group:nth-child(2){
    grid-column: 2 / 3;
    grid-row: 1;
}
div.form-group:nth-child(3){
    grid-column: 1 / 2;
    grid-row: 2;
}
div.form-group:nth-child(4){
    grid-column: 2 / 3;
    grid-row: 2;
}
div.form-group:nth-child(5){
    grid-column: 1 / 3;
    grid-row: 3;
}

div.form-group:nth-child(5) textarea{
    width:85%
}

.wp-block-pullquote p {
    font-family: 'Lobster'!important;
    font-size: 30px;
    margin-top: -6px; 
}

.wp-block-pullquote p:before {
    content: '\201C';
}

.wp-block-pullquote p:after {
    content: '\201D';
}


form.wpcf7-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(80px, auto);
    
}

form.wpcf7-form p:nth-child(2){
    grid-column: 1 / 2;
    grid-row: 1;
}

form.wpcf7-form p:nth-child(3){
    grid-column: 2 / 3;
    grid-row: 1;
}

form.wpcf7-form p:nth-child(4){
    grid-column: 1 / 2;
    grid-row: 2;
}

form.wpcf7-form p:nth-child(5){
    grid-column: 2 / 3;
    grid-row: 2;
}

form.wpcf7-form p:nth-child(6){
    grid-column: 1 / 3;
    grid-row: 3;
}

form.wpcf7-form p:nth-child(7){
    grid-column: 1 / 3;
    grid-row: 4 / 5 ;
}



/* les conteurs */
p.ewf-counter__title{
    display:block;
    float:left;
}

div.section-counters div.col-sm-4{
    height: 60px;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 50px;

}
div.section-counters div.ewf-section-text{
    height: 60px;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 50px;
}

div#resume-pscofe{
    margin-top:3em;    
}
div#resume-pfeer{
    margin-top:3em;    
}
div#resume-pgeer{
    margin-top:3em;    
}



div#menu-nos-expertises a{
    color: black;
    /* font-family: 'courgette'!important; */
    height: 3em;
    padding: 0;
    text-align: left;
    width: 100%;
    padding: 0;
    font-size: 1.1em;
}

div#menu-nos-expertises a:before{
    content:None;
}

div#menu-nos-expertises  li{
    float: left;
}

#div#menu-nos-expertises li a:active span,
#div#menu-nos-expertises li a:active i {
    color: #2C4088;
}

#menu-nos-expertises .menu-item i._mi{
    width:2em;
    margin:2px;
}
#menu-nos-expertises li:hover{
    background-color: #EFEFEF;
    color:#AC3100;
}

#menu-nos-expertises li a:hover{
    color:#AC3100;
}

ul#menu-nos-expertises li{
    display:block;
    height: 2em;
    
    padding: 1.5em 1em 1.5em 1.5em;

}

.su-accordion {
    margin-bottom: 1.3em;
    font-size: 15px;
    margin-left: 20px;
}