/*
 Theme Name:   Ex-Child
 Theme URI:    
 Description:  Exergie an agency based theme
 Author:       Tiko Themes
 Author URI:  https://home.tiko.ci/
 Template:     exergie
 Version:      1.0.0
 License:      
 License URI:  
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  exergie*/

/* fixons la largeur de la page*/
div#wrap{
    margin-left: 4em;
    margin-right: 4em;
    border-left: 1px solid #95BE2B;
    border-right: 1px solid #95BE2B;
    box-shadow: 5px 0px 50px 0px;
    padding-left: 1em;
    padding-right: 1em;
}

 /* taille par défaut des images de l'entête des pages*/
div.custom-header img{
    height:300px;
    width:100%;
}
/* font pour le header et le menu*/
#header{
    background-color: #fff !important;
}
#header ul li a{
    color: #011769 !important;
    font-family: 'Advent Pro';
    font-size: 20px;
}
#header ul li a:hover{
    color: #C95A2E !important;
    background-color: #d3d3d3;
    font-weight: bold;
}
#header.exergie-classic .exergie-menu .sub-menu a{
    font-size: 18px !important;
}
/*css nos services*/
#nos-services {

    margin-top: -50px !important;
    padding-bottom: 0px;
}
div.services-item  i.ewf-icon:hover{
    background-color: #d3d3d3!important;
    color: #011769 !important;
}
#nos-services h3{
    font-weight: bold;
    color: #ea882e;
    font-family: 'Stardos Stencil';
    font-size: 40px;
}
.ewf-section-text {
    margin-bottom: -2px !important;
}
.services-item div[class*="ewf-like-"] {
    color: #011769 !important;
}
.ewf-like-h6 {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 20px !important;
    line-height: 20px;
    line-height: 1.25;
    font-family: 'Stardos Stencil';
}
.ewf-section__content p{
    font-family: 'Nunito';
    font-size: 18px;
}

/*css activités page principal*/
.headline h3{
    font-weight: bold;
    font-family: 'Stardos Stencil';
}

/* pour le fil d'actualité */
div#shortcode-actu div.headline{
    display: block;
    float: left;
    width: 20%;
}
#mtphr-dnt-335 a{
    color: #011769 !important;
    font-weight: bold;
    font-size: 16px;
}
#mtphr-dnt-335 a:hover{
    color:#C95A2E !important;
}
#mtphr-dnt-335{
    display: block;
    width: 80%;
    float: right;
    box-shadow: inset 5px 0px 4px #2C4088A0,
        inset -5px 0px 4px #2C4088A0;
}
div.mtphr-dnt-wrapper, div.mtphr-dnt-tick-container{
    height:3em;
}
div.mtphr-dnt-tick-contents{
    height:100% !important;
}
div#shortcode-actu div.headline h3{
    margin-top:0px;
}

div#shortcode-actu{
    line-height:3em;
}
.ewf-section__content{
    margin-bottom: -50px;
}
h5.widget-title{
    color: #011769;
    font-size: 30px;
    font-family: 'Stardos Stencil';
}
#mtphr-dnt-1161-widget{
    background-color: #d3d3d3;
    text-align: center;
}
#mtphr-dnt-1161-widget a{
    color: #011769;
    font-weight: bold;
}
#mtphr-dnt-1161-widget a:hover{
    color: #C95A2E;
}

/*les boutons du milieu de la page principale */
div.ewf-section-text a.ewf-btn.ewf-btn--huge:hover{
    background-color: #d3d3d3 !important;
    color: #011769 !important;
}

/* une marge après les clients */
div.section-clientlist div.ewf-section__content{
    margin-bottom:-80px;
}
.ewf-slider{
    padding-top: 50px;
}

/*css formulaire de contact */
div#call-action div.ewf-section__content div.container{
    width:50%;
    float:left;
}
div#call-action div.ewf-section__content div.container div.col-md-12{
    margin: 8em 0em 0em 0em;
}

.ewf-section__overlay-color{
    background-color: rgba(243, 246, 234, 0.5) !important;
}

b{
    font-weight: bold;
}
input[type="submit"]{
    background-color:#C95A2E !important;
    color: #ffff;   
}
.ewf-btn:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:focus, input[type="submit"]:focus, input[type="button"]:focus {
    background-color: #d3d3d3 !important;
    color: #011769 !important;
    border-color: #011769;
    border-radius: 5px;
}

/*css footer*/
#footer{
    background-color: #a1a1a2 !important;
}
#footer a{
    color: #011769 !important;
}
#footer a:hover{
    color: #C95A2E !important;
}
#footer-bottom-widget-area-1{
    color: #011769;
}

/* enlève marge sous les services pour remonter l'actualité */
#nos-services div.col-sm-4.ewf-item__spacing-lg {
    margin-bottom:0px;
}

/* pour les nouvelles dans la side bar */
#mtphr-dnt-1161-widget div.mtphr-dnt-wrapper{
    display: block;
    width: 100%;
    box-shadow: inset 0px 5px 4px #2C4088A0,
        inset 0px -5px 4px #2C4088A0;
    padding-top: 2em;
    padding-left: 0px;
    padding-right: 0px;
    
}

#mtphr-dnt-1161-widget div.mtphr-dnt-wrapper, div.mtphr-dnt-tick-container{
    height:5em;
}


#post-44 div.su-spoiler-title{
    color: #011769 ;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.5em;
    font-family: 'Candal';
}

#post-44 div.su-accordion li:hover{
    font-size:18px;
    padding:0px;
    background: #d3d3d3;
}

div.wpbc_structure_form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

div.form-group:nth-child(1){
    grid-column: 1 / 1;
    grid-row: 1;
}
div.form-group:nth-child(2){
    grid-column: 2 / 3;
    grid-row: 1;
}
div.form-group:nth-child(3){
    grid-column: 1 / 2;
    grid-row: 2;
}
div.form-group:nth-child(4){
    grid-column: 2 / 3;
    grid-row: 2;
}
div.form-group:nth-child(5){
    grid-column: 1 / 3;
    grid-row: 3;
}

div.form-group:nth-child(5) textarea{
    width:85%
}

.wp-block-pullquote p {
    font-family: 'Lobster;
    font-size: 30px;
    margin-top: -55px; 
}

.wp-block-pullquote p:before {
    content: '\201C';
}

.wp-block-pullquote p:after {
    content: '\201D';
}


form.wpcf7-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(80px, auto);
    
}

form.wpcf7-form p:nth-child(2){
    grid-column: 1 / 2;
    grid-row: 1;
}

form.wpcf7-form p:nth-child(3){
    grid-column: 2 / 3;
    grid-row: 1;
}

form.wpcf7-form p:nth-child(4){
    grid-column: 1 / 2;
    grid-row: 2;
}

form.wpcf7-form p:nth-child(5){
    grid-column: 2 / 3;
    grid-row: 2;
}

form.wpcf7-form p:nth-child(6){
    grid-column: 1 / 3;
    grid-row: 3;
}

form.wpcf7-form p:nth-child(7){
    grid-column: 1 / 3;
    grid-row: 4 / 5 ;
}


/* les conteurs */
p.ewf-counter__title{
    display:block;
    float:left;
}

div.section-counters div.col-sm-4{
    height: 60px;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 50px;

}
div.section-counters div.ewf-section-text{
    height: 60px;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 50px;
}

div#resume-pscofe{
    margin-top:3em;    
}
div#resume-pfeer{
    margin-top:3em;    
}
div#resume-pgeer{
    margin-top:3em;    
}

div#menu-nos-expertises a{
    color: black;
    /* font-family: 'courgette'!important; */
    height: 3em;
    padding: 0;
    text-align: left;
    width: 100%;
    padding: 0;
    font-size: 1.1em;
}

div#menu-nos-expertises a:before{
    content:None;
}

div#menu-nos-expertises  li{
    float: left;
}

#div#menu-nos-expertises li a:active span,
#div#menu-nos-expertises li a:active i {
    color: #2C4088;
}

#menu-nos-expertises .menu-item i._mi{
    width:2em;
    margin:2px;
}
#menu-nos-expertises li:hover{
    background-color: #EFEFEF;
    color:#AC3100;
}

#menu-nos-expertises li a:hover{
    color:#AC3100;
}

ul#menu-nos-expertises li{
    display:block;
    height: 2em;
    
    padding: 1.5em 1em 1.5em 1.5em;

}

.su-accordion {
    margin-bottom: 1.3em;
    font-size: 15px;
    margin-left: 20px;
}

/*css page vsoft*/
.wp-block-pullquote p{
    font-family: 'Lobster' !important;
    font-size: 30px !important;
    margin-top: -55px;
    color: #95BE2B;
}
.wp-block-pullquote blockquote {
    color: #95BE2B;
    font-family: 'Lobster';
    margin: 0;
    font-size: 1.6em;
    line-height: 1.3;
    font-weight: 700;
}
.wp-block-pullquote em{
    font-style: none;
    
}
.post-content h2{
    font-family: 'Stardos Stencil';
}
.post-content h4{
    font-family: 'Cutive';
    font-size: 24px;
    text-align: center;
}
.post-content ul{
    font-family: 'Nunito';
    font-size: 16px;
    margin-left: 74px;
}
.post-content li:hover{
    background-color: #d3d3d3;
    font-size: 18px;
    color: #C95A2E ;
}
.post-content hr{
    height: 2px;
}
.post-content p{
    font-family: 'Nunito';
    font-size: 18px;
}
.post-content h3{
    font-family: 'Cutive';
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}
/*css page à propos*/
.su-subpages a{
    font-family: 'Nunito';
    font-size: 16px;
    color: #212529;
}
.su-subpages a:hover{
   background-color: #d3d3d3;
    font-size: 18px;
    color: #C95A2E ; 
}
li.page_item .page-item-74{
    font-family: 'Nunito';
    font-size: 16px;
    color: #212529;
}
li.page_item .page-item-74:hover{
    background-color: #d3d3d3;
    font-size: 18px;
    color: #C95A2E ;
}
li#menu-menu-lateral{
    color: #011769; ;
}

#menu-item-1687 a{
    color: #C95A2E;
    width: 310px;
    text-align: left;
    font-family: 'Stardos Stencil';
    font-size: 25px;
}
#menu-item-1687 a:hover{
    color: #011769;
}
#menu-item-1688 a{
    color: #C95A2E;
    width: 310px;
    text-align: left;
    font-family: 'Stardos Stencil';
    font-size: 25px;
}
#menu-item-1688 a:hover{
    color: #011769  ;
}
#menu-item-1686 a{
    color: #C95A2E ;
    width: 310px;
    text-align: left;
    font-family: 'Stardos Stencil';
    font-size: 25px;
}
#menu-item-1686 a:hover{
    color: #011769;
}
.degrade h5{
    color: #C95A2E;
}
/*css articles*/
.main-container{
    padding-top: 0px !important;
padding-bottom: 0px !important;
}
hr{
    height: 1px !important;
    background-color: #011769 !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto!important;
}
.feature{
    border-left: 1px dotted black;     
    padding-left: 5px;    
     margin-left: 50px;
     margin-top: 50px;
     margin-bottom: 20px;
}

td#today{
    background: #C95A2E !important;
}
#back-to-top.visible{
    background-color: #C95A2E;
}
#back-to-top.visible:hover{
    background-color: #011769;
}
#post-1082 p{
    margin-left: 50px;
}
#post-1078 p{
    margin-left: 50px;
}
#post-1078 a{
    color: #C95A2E;
}
#post-1078 a:hover{
    color: #011769;
}
#post-1076 p{
    margin-left: 50px;
}
#post-1076 a{
    color: #C95A2E;
}
#post-1076 a:hover{
    color: #011769;
}
#post-1068 p{
    margin-left: 50px;
}
#post-1068 a{
    color: #C95A2E;
}
#post-1068 a:hover{
    color: #011769;
}
.nav-next a{
    color: #C95A2E;
}
.nav-next a:hover{
    color: #011769;
}
.nav-previous a{
    color: #C95A2E;
}
.nav-previous a:hover{
    color: #011769;
}
h1.page-title{
    font-family: 'Bevan';
}
#post-1068 p{
    font-family: 'Nunito';
    font-size: 18px;
    text-align: justify;
    margin-left: 30px;
}

/*css contact*/
#email-img{
    width: 600px;
    
}
#contact-map{
    margin-left: 0%;
    width: 800px;
}
/*css page président*/
.post-content h1{
    font-family: 'Stardos Stencil';
    text-align: center;
}
/*css page missions & objectifs*/
img.wp-image-1257{
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
/*css category*/
.page-cat-links a{
    background-color: #011769 !important;
}
.article{
  display: table;
  width: 100%;
  border-collapse: separate;
  border: 5px #F2F2F2 solid;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
}
.article > div{
  display: table-cell;
  width: 50%; /* 100%/2 = 2 colonnes */
  padding: 20px;
  border: 5px #F2F2F2 solid;
  background: #FFF;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
}

.article img{
    margin-top: 20px;
   vertical-align: left;
   height: auto;   
}

.article h2{
    font-family: 'Stardos Stencil';
    text-align: left;
    margin: 20px 0px;
}
.article p{
    font-family: 'Nunito';
    font-size: 18PX;
    color: black;
}
.article p:hover{
    color: black; 
}
.article a{
    color: black;  
}
.article a:hover{
    color: black; 
}

/*css page actualités*/
.column-layout{
    display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 10px;
}
.img{
    grid-column: 1;
    grid-row: 1/3;
    margin-top: 20px;
    height: 100%;
}
.titre{
   grid-column: 2/10;
    grid-row: 1; 
}
.contenu{
    grid-column: 2/10;
    grid-row: 2/3; 
    margin-bottom: 0px;
}
.titre h2{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0px;
}
.date{
    margin: auto;
}


/*img.wp-image-1045{
    padding-top: 20px;
    width: 207px !important;
    height: 100px;
}

img.wp-image-1711{
    padding-top: 20px;
    width: 200px;
    height: 100px;
}
img.wp-image-1041{
    padding-top: 20px;
    width: 207px !important;
    height: 100px;
}
img.wp-image-118{
   padding-top: 20px; 
   width: 207px;
   height: 100px;
}