/* ==========================================================================
   =Menu
   ========================================================================== */
.exergie-menu {
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
	float: right;

	&.is-visible {
		display: block;
		opacity: 1;
		visibility: visible;
	}

	a {
		display: block;
		text-decoration: none;
		padding: 0 15px;
		
		&:hover {
			color: $accent-1-color;
		}
	}

	li {
		position: relative;
		float: left;
		margin: 0;
		padding: 0;
		transition: all 0.1s $easing;
		list-style: none;
	
		&.menu-item-has-children .arrow {
		 	position: absolute;
			top: 0;
			right: 0;
			font-size: 11px;
			font-family: 'fontawesome';
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			transition: transform 0.6s $easing;
			color: #212121;

			&:after {
				content: "\f107";
			}

			&.is-active {
				transform: rotate(-180deg);
			}
		}

		&.current-menu-item {
			position: relative;

			> a {
				color: $accent-1-color;
			}
		}

		&:hover {
			position: relative;
		}

	}

	.sub-menu {
		background-color: #fff;
		margin: 0;
		
		li {
			float: none;
			width: 100%;
			position: relative;
			line-height: normal;

			&:hover {
				background-color: #eee;
			}
		}

		

		
	}
}

.exergie-menu-icon {
	cursor: pointer;
	float: right;
	padding: 28px 15px;
	position: relative;
	user-select: none;
	margin: 0 -15px 0 0;

	.exergie-navicon {
		display: block;
		position: relative;
		transition: background-color 0.6s $easing;
		height: 2px;
		width: 18px;
		background-color: #212121;

		&:before,
		&:after {
			background-color: #212121;
			content: '';
			display: block;
			height: 2px;
			width: 100%;
			position: absolute;
			transition: all 0.6s $easing;
		}

		&:before {
			top: 6px;
		}

		&:after {
			top: -6px;
		}
	}


}

.exergie-menu-icon--open .exergie-navicon {	 
	background: transparent !important;

	&:before {
		top: 0;
		transform: rotate(-45deg);
	}

	&:after {
		top: 0;
		transform: rotate(45deg);
	}
}

@media (max-width: 768px) {

	.exergie-menu {
	
		li {
			float: none;
			display: block;
			line-height: normal;

			&.menu-item-has-children {
				.arrow {
			 		width: 50px;
					text-align: center;
					transform: none;
					padding: 17px 0;
					cursor: pointer; 
					font-size: 1em;
				}
				> a {
					width: calc( 100% - 50px - 30px );
				}
			}
		}

		a {
			position: relative;
			z-index: 2;
			padding: 15px;
		}

		.sub-menu {
			display: block;
			visibility: visible;
			position: static;
			width: 100%;
			margin: 0;
			max-height: 0;
			overflow: hidden;

			&.is-visible {
				transition: max-height 2s $easing;
				max-height: 5000px;
			}

			a {
				padding: 15px;
				font-size: inherit;
			}
		}
	}

}

