#header.exergie-classic {

	@media (min-width: 769px) {

		.exergie-menu-icon {
			display: none;
		}

		.exergie-menu .sub-menu {
			visibility: hidden;
			opacity: 0;
			position: absolute;
			z-index: 3;
			top: 100%;
			left: 0px;
			width: 200px;
			margin: 1px 0 0;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

			a {
				padding: 12px 15px;
				font-size: 14px;
			}
			
			.menu-item-has-children .arrow {
				top: 15px;
				right: 3px;
				transform: rotate(-90deg); 
			}

			.sub-menu {
				top: 0;
				left: 100%;
				margin: 0;
			}
		}
	
		.exergie-menu li:hover > .sub-menu {
			visibility: visible;
			opacity: 1;
			transition: opacity 0.4s $easing;
		}
	
	}

	@media (max-width: 768px) {
		
		.exergie-menu {
			max-height: 0;
			left: 15px;
			width: calc(100% + 30px);
			text-align: left;
			overflow: hidden;

			li {
				border-top: 1px solid #eee;
			}

			&.menu-item-has-children {
				> a {
					border-right: 1px solid #eee;
				}
			}

		}

		.exergie-menu--visible {
			transition: max-height 2s $easing;
			max-height: 5000px;
		} 

	}

}
