#header.exergie-offcanvas {

	.offcanvas {
		position: fixed;
		overflow: hidden;
		height: 100vh;
		width: 250px;
		right: 0;
		z-index: 9999999999;
		background-color: #111111;	
		transform: translateX(250px);
		transition: transform 0.6s $easing;
	}
	
	.offcanvas--visible {
		transform: translateX(0px);
	}
	
	.offcanvas__content {
		width: 100%;
		height: 100%;
		position: relative;
		overflow-y: auto;
		overflow-x: hidden;

		.exergie-menu-icon {
			margin: 0;
		}
	}

	.exergie-menu {
		float: none;
		margin-top: 61px;

		li {
			float: none;
			line-height: normal;

			&.menu-item-has-children {
				.arrow {
					width: 50px;
					text-align: center;
					padding: 13px 0;
					cursor: pointer; 
					font-size: 1em;
				}
				> a{
					width: calc( 100% - 50px - 70px );
				}
			}
		}

		a {
			padding: 8px 35px;
		}

		.sub-menu {
			max-height: 0;
			overflow: hidden;

			&.is-visible {
				transition: max-height 2s $easing;
				max-height: 5000px;
			}
		}
	}
}

