/* Grid
------------------------------------------------------ */

.fl-builder-content *,
.fl-builder-content *:before,
.fl-builder-content *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.fl-row:before,
.fl-row:after,
.fl-row-content:before,
.fl-row-content:after,
.fl-col-group:before,
.fl-col-group:after,
.fl-col:before,
.fl-col:after,
.fl-module:before,
.fl-module:after,
.fl-module-content:before,
.fl-module-content:after {
	display: table;
	content: " ";
}
.fl-row:after,
.fl-row-content:after,
.fl-col-group:after,
.fl-col:after,
.fl-module:after,
.fl-module-content:after {
	clear: both;
}
.fl-row,
.fl-row-content,
.fl-col-group,
.fl-col,
.fl-module,
.fl-module-content {
	zoom:1;
}
.fl-clear {
	clear: both;
}

/* Utilities
------------------------------------------------------ */

.fl-clearfix:before,
.fl-clearfix:after {
	display: table;
	content: " ";
}
.fl-clearfix:after {
	clear: both;
}
.fl-clearfix {
	zoom:1;
}

/* Responsive Utilities
------------------------------------------------------ */

.fl-visible-medium,
.fl-visible-medium-mobile,
.fl-visible-mobile,
.fl-col-group .fl-visible-medium.fl-col,
.fl-col-group .fl-visible-medium-mobile.fl-col,
.fl-col-group .fl-visible-mobile.fl-col {
	display: none;
}

/* Rows
------------------------------------------------------ */

.fl-row,
.fl-row-content {
	margin-left: auto;
	margin-right: auto;
}
.fl-row-content-wrap {
	position: relative;
}

/* Photo Bg */
.fl-builder-mobile .fl-row-bg-photo .fl-row-content-wrap {
	background-attachment: scroll;
}

/* Video Bg */
.fl-row-bg-video,
.fl-row-bg-video .fl-row-content {
	position: relative;
}
.fl-row-bg-video .fl-bg-video {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
}
.fl-row-bg-video .fl-bg-video video {
	bottom: 0;
	left: 0px;
	max-width: none;
	position: absolute;
	right: 0;
	top: 0px;
}
.fl-row-bg-video .fl-bg-video iframe {
	pointer-events: none;
	width: 100vw;
  	height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  	max-width: none;
  	min-height: 100vh;
  	min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%); /* IE 9 */
	-webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
}
.fl-bg-video-fallback {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 0px;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
}

/* Slideshow Bg */
.fl-row-bg-slideshow,
.fl-row-bg-slideshow .fl-row-content {
	position: relative;
}
.fl-row .fl-bg-slideshow {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}
.fl-builder-edit .fl-row .fl-bg-slideshow * {
	bottom: 0;
	height: auto !important;
	left: 0;
	position: absolute !important;
	right: 0;
	top: 0;
}

/* Row Bg Overlay */
.fl-row-bg-overlay .fl-row-content-wrap:after {
	border-radius: inherit;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}
.fl-row-bg-overlay .fl-row-content {
	position: relative;
	z-index: 1;
}

/* Full Height Rows */
.fl-row-full-height .fl-row-content-wrap,
.fl-row-custom-height .fl-row-content-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;

}
.fl-row-custom-height .fl-row-content-wrap {
	min-height: 0;
}
.fl-builder-edit .fl-row-full-height .fl-row-content-wrap {
	min-height: calc( 100vh - 48px );
}
.fl-row-full-height .fl-row-content,
.fl-row-custom-height .fl-row-content {
  -webkit-box-flex: 1 1 auto;
  	 -moz-box-flex: 1 1 auto;
  	  -webkit-flex: 1 1 auto;
  		  -ms-flex: 1 1 auto;
  			  flex: 1 1 auto;
}
.fl-row-full-height .fl-row-full-width.fl-row-content,
.fl-row-custom-height .fl-row-full-width.fl-row-content {
	max-width: 100%;
	width: 100%;
}

/* IE 11 - Row full height - vertical alignment center/bottom fix */
.fl-builder-ie-11 .fl-row.fl-row-full-height:not(.fl-visible-medium):not(.fl-visible-medium-mobile):not(.fl-visible-mobile),
.fl-builder-ie-11 .fl-row.fl-row-custom-height:not(.fl-visible-medium):not(.fl-visible-medium-mobile):not(.fl-visible-mobile) {
	display: flex;
	flex-direction: column;
	height: 100%;
}

/* Stupid IE Full Height Row Fixes */
.fl-builder-ie-11 .fl-row-full-height .fl-row-content-wrap,
.fl-builder-ie-11 .fl-row-custom-height .fl-row-content-wrap {
	height: auto;
}

.fl-builder-ie-11 .fl-row-full-height .fl-row-content,
.fl-builder-ie-11 .fl-row-custom-height .fl-row-content {
	flex: 0 0 auto;
	flex-basis: 100%;
	margin: 0;
}

.fl-builder-ie-11 .fl-row-full-height.fl-row-align-top .fl-row-content,
.fl-builder-ie-11 .fl-row-full-height.fl-row-align-bottom .fl-row-content,
.fl-builder-ie-11 .fl-row-custom-height.fl-row-align-top .fl-row-content,
.fl-builder-ie-11 .fl-row-custom-height.fl-row-align-bottom .fl-row-content, {
    margin: 0 auto;
}

.fl-builder-ie-11 .fl-row-full-height.fl-row-align-center .fl-col-group:not(.fl-col-group-equal-height),
.fl-builder-ie-11 .fl-row-custom-height.fl-row-align-center .fl-col-group:not(.fl-col-group-equal-height) {
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
}

/* Full height align center */
.fl-row-full-height.fl-row-align-center .fl-row-content-wrap,
.fl-row-custom-height.fl-row-align-center .fl-row-content-wrap {
	align-items: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
}

/* Full height align bottom */
.fl-row-full-height.fl-row-align-bottom .fl-row-content-wrap,
.fl-row-custom-height.fl-row-align-bottom .fl-row-content-wrap {
	align-items: flex-end;
	justify-content: flex-end;
	-webkit-align-items: flex-end;
	-webkit-justify-content: flex-end;
	-webkit-box-align: end;
	-webkit-box-pack: end;
	-ms-flex-align: end;
	-ms-flex-pack: end;
}

/* IE 11 - height bottom > row align bottom - center fix */
.fl-builder-ie-11 .fl-row-full-height.fl-row-align-bottom .fl-row-content-wrap,
.fl-builder-ie-11 .fl-row-custom-height.fl-row-align-bottom .fl-row-content-wrap {
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
}

/* Full height iPad with portrait orientation. */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  .fl-row-full-height .fl-row-content-wrap{
    min-height: 1024px;
  }
}

/* Full height iPad with landscape orientation. */
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape){
  .fl-row-full-height .fl-row-content-wrap{
    min-height: 768px;
  }
}

/* Full height iPhone 5. You can also target devices with aspect ratio. */
@media screen and (device-aspect-ratio: 40/71) {
  .fl-row-full-height .fl-row-content-wrap {
    min-height: 500px;
  }
}

/* Column Groups
------------------------------------------------------ */

.fl-col-group-equal-height,
.fl-col-group-equal-height .fl-col,
.fl-col-group-equal-height .fl-col-content{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.fl-col-group-equal-height{
    -webkit-flex-wrap: wrap;
    	-ms-flex-wrap: wrap;
    		flex-wrap: wrap;
}
.fl-col-group-equal-height.fl-col-group-has-child-loading {
    -webkit-flex-wrap: nowrap;
    	-ms-flex-wrap: nowrap;
    		flex-wrap: nowrap;
}
.fl-col-group-equal-height .fl-col,
.fl-col-group-equal-height .fl-col-content{
  -webkit-box-flex: 1 1 auto;
  	 -moz-box-flex: 1 1 auto;
  	  -webkit-flex: 1 1 auto;
  		  -ms-flex: 1 1 auto;
  			  flex: 1 1 auto;
}
.fl-col-group-equal-height .fl-col-content{
	    -webkit-box-orient: vertical;
	 -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
			   flex-shrink: 1;
			     min-width: 1px;
            	 max-width: 100%;
            	 	 width: 100%;
}
.fl-col-group-equal-height:before,
.fl-col-group-equal-height .fl-col:before,
.fl-col-group-equal-height .fl-col-content:before,
.fl-col-group-equal-height:after,
.fl-col-group-equal-height .fl-col:after,
.fl-col-group-equal-height .fl-col-content:after{
	content: none;
}

/* Equal height align center */
.fl-col-group-equal-height.fl-col-group-align-center .fl-col-content {
	align-items: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
}

/* Equal height align bottom */
.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
	-webkit-box-align: end;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
}

.fl-col-group-equal-height.fl-col-group-align-center .fl-module,
.fl-col-group-equal-height.fl-col-group-align-center .fl-col-group {
	width: 100%;
}

/* IE11 fix for images with height:auto in equal height columns. */
.fl-builder-ie-11 .fl-col-group-equal-height,
.fl-builder-ie-11 .fl-col-group-equal-height .fl-col,
.fl-builder-ie-11 .fl-col-group-equal-height .fl-col-content,
.fl-builder-ie-11 .fl-col-group-equal-height .fl-module,
.fl-col-group-equal-height.fl-col-group-align-center .fl-col-group {
	min-height: 1px;
}

/* Columns
------------------------------------------------------ */

.fl-col {
	float: left;
	min-height: 1px;
}

/* Column Bg Overlay */
.fl-col-bg-overlay .fl-col-content {
	position: relative;
}
.fl-col-bg-overlay .fl-col-content:after {
	border-radius: inherit;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}
.fl-col-bg-overlay .fl-module {
	position: relative;
	z-index: 2;
}

/* Modules
------------------------------------------------------ */

.fl-module img {
	max-width: 100%;
}

/* Module Templates
------------------------------------------------------ */

.fl-builder-module-template {
	margin: 0 auto;
	max-width: 1100px;
	padding: 20px;
}

/* Buttons
------------------------------------------------------ */

.fl-builder-content a.fl-button,
.fl-builder-content a.fl-button:visited {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	display: inline-block;
	font-size: 16px;
	font-weight: normal;
	line-height: 18px;
	padding: 12px 24px;
	text-decoration: none;
	text-shadow: none;
}
.fl-builder-content .fl-button:hover {
	text-decoration: none;
}
.fl-builder-content .fl-button:active {
	position: relative;
	top: 1px;
}
.fl-builder-content .fl-button-width-full .fl-button {
	display: block;
	text-align: center;
}
.fl-builder-content .fl-button-width-custom .fl-button {
	display: inline-block;
	text-align: center;
	max-width: 100%;
}
.fl-builder-content .fl-button-left {
	text-align: left;
}
.fl-builder-content .fl-button-center {
	text-align: center;
}
.fl-builder-content .fl-button-right {
	text-align: right;
}
.fl-builder-content .fl-button i {
	font-size: 1.3em;
	height: auto;
	margin-right:8px;
	vertical-align: middle;
	width: auto;
}
.fl-builder-content .fl-button i.fl-button-icon-after {
	margin-left: 8px;
	margin-right: 0;
}
.fl-builder-content .fl-button-has-icon .fl-button-text {
	vertical-align: middle;
}

/* Icons
------------------------------------------------------ */

.fl-icon-wrap {
	display: inline-block;
}
.fl-icon {
	display: table-cell;
	vertical-align: middle;
}
.fl-icon a {
	text-decoration: none;
}
.fl-icon i {
	float: left;
	height: auto;
	width: auto;
}
.fl-icon i:before {
	border: none !important;
	height: auto;
	width: auto;
}
.fl-icon-text {
	display: table-cell;
	text-align: left;
	padding-left: 15px;
	vertical-align: middle;
}
.fl-icon-text-empty {
	display: none;
}
.fl-icon-text *:last-child {
	margin: 0 !important;
	padding: 0 !important;
}
.fl-icon-text a {
	text-decoration: none;
}
.fl-icon-text span {
	display: block;
}
.fl-icon-text span.mce-edit-focus {
	min-width: 1px;
}

/* Photos
------------------------------------------------------ */

.fl-photo {
	line-height: 0;
	position: relative;
}
.fl-photo-align-left {
	text-align: left;
}
.fl-photo-align-center {
	text-align: center;
}
.fl-photo-align-right {
	text-align: right;
}
.fl-photo-content {
	display: inline-block;
	line-height: 0;
	position: relative;
	max-width: 100%;
}
.fl-photo-img-svg {
	width: 100%;
}
.fl-photo-content img {
	display: inline;
	height: auto;
	max-width: 100%;
}
.fl-photo-crop-circle img {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.fl-photo-caption {
	font-size: 13px;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.fl-photo-caption-below {
	padding-bottom: 20px;
	padding-top: 10px;
}
.fl-photo-caption-hover {
	background: rgba(0,0,0,0.7);
	bottom: 0;
	color: #fff;
	left: 0;
	opacity: 0;
	filter: alpha(opacity = 0);
	padding: 10px 15px;
	position: absolute;
	right: 0;
	-webkit-transition:opacity 0.3s ease-in;
	-moz-transition:opacity 0.3s ease-in;
	transition:opacity 0.3s ease-in;
}
.fl-photo-content:hover .fl-photo-caption-hover {
	opacity: 100;
	filter: alpha(opacity = 100);
}

/* Pagination
------------------------------------------------------ */

.fl-builder-pagination,
.fl-builder-pagination-load-more {
	padding: 40px 0;
}
.fl-builder-pagination ul.page-numbers {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.fl-builder-pagination li {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
.fl-builder-pagination li a.page-numbers,
.fl-builder-pagination li span.page-numbers {
	border: 1px solid #e6e6e6;
	display: inline-block;
	padding: 5px 10px;
	margin: 0 0 5px;
}
.fl-builder-pagination li a.page-numbers:hover,
.fl-builder-pagination li span.current {
	background: #f5f5f5;
	text-decoration: none;
}

/* Slideshows
------------------------------------------------------ */

.fl-slideshow,
.fl-slideshow * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;

}
.fl-slideshow .fl-slideshow-image img {
	max-width: none !important;
}
.fl-slideshow-social {
	line-height: 0 !important;
}
.fl-slideshow-social * {
	margin: 0 !important;
}

/* Sliders
------------------------------------------------------ */

.fl-builder-content .bx-wrapper .bx-viewport {
	background: transparent;
	border: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	left: 0;
}

/* Lightbox
------------------------------------------------------ */

.mfp-wrap button.mfp-arrow,
.mfp-wrap button.mfp-arrow:active,
.mfp-wrap button.mfp-arrow:hover,
.mfp-wrap button.mfp-arrow:focus {
	background: transparent !important;
	border: none !important;
	outline: none;
	position: absolute;
	top: 50%;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.mfp-wrap .mfp-close,
.mfp-wrap .mfp-close:active,
.mfp-wrap .mfp-close:hover,
.mfp-wrap .mfp-close:focus {
	background: transparent !important;
	border: none !important;
	outline: none;
	position: absolute;
	top: 0;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.admin-bar .mfp-wrap .mfp-close,
.admin-bar .mfp-wrap .mfp-close:active,
.admin-bar .mfp-wrap .mfp-close:hover,
.admin-bar .mfp-wrap .mfp-close:focus {
	top: 32px!important;
}
img.mfp-img {
	padding: 0;
}
.mfp-counter {
	display: none;
}

.mfp-wrap .mfp-preloader.fa {
	font-size: 30px;
}

/* Form Fields
------------------------------------------------------ */

.fl-form-field {
	margin-bottom: 15px;
}
.fl-form-field input.fl-form-error {
	border-color: #DD6420;
}
.fl-form-error-message {
	clear: both;
	color: #DD6420;
	display: none;
	padding-top: 8px;
	font-size: 12px;
	font-weight: lighter;
}
.fl-form-button-disabled {
	opacity: 0.5;
}

/* Animations
------------------------------------------------------ */

.fl-animation {
	opacity: 0;
}
.fl-builder-preview .fl-animation,
.fl-builder-edit .fl-animation,
.fl-animated {
	opacity: 1;
}
.fl-animated {
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
}

/* Button Icon Animation */
.fl-button.fl-button-icon-animation i {
	width: 0 !important;
	opacity: 0;
	-ms-filter: "alpha(opacity=0)";
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
}
.fl-button.fl-button-icon-animation:hover i {
	opacity: 1! important;
    -ms-filter: "alpha(opacity=100)";
}
.fl-button.fl-button-icon-animation i.fl-button-icon-after {
	margin-left: 0px !important;
}
.fl-button.fl-button-icon-animation:hover i.fl-button-icon-after {
	margin-left: 10px !important;
}
.fl-button.fl-button-icon-animation i.fl-button-icon-before {
	margin-right: 0 !important;
}
.fl-button.fl-button-icon-animation:hover i.fl-button-icon-before {
	margin-right: 20px !important;
    margin-left: -10px;
}

/* Templates
------------------------------------------------------ */

.single:not(.woocommerce).single-fl-builder-template .fl-content {
	width: 100%;
}

/* Shapes & Patterns
------------------------------------------------------- */
.fl-builder-layer {
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	z-index: 0;
	pointer-events: none;
	overflow: hidden;
}
.fl-builder-shape-layer {
	z-index: 0;
}
.fl-builder-shape-layer.fl-builder-bottom-edge-layer {
	z-index: 1;
}
.fl-row-bg-overlay .fl-builder-shape-layer {
	z-index: 1;
}
.fl-row-bg-overlay .fl-builder-shape-layer.fl-builder-bottom-edge-layer {
	z-index: 2;
}
.fl-row-has-layers .fl-row-content {
	z-index: 1;
}
.fl-row-bg-overlay .fl-row-content {
	z-index: 2;
}

.fl-builder-layer > * {
	display: block;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
}
.fl-builder-layer + .fl-row-content {
	position: relative;
}
.fl-builder-layer .fl-shape {
	fill: #aaa;
	stroke: none;
	stroke-width: 0;
	width:100%;
}

/* Default button colors for non Beaver Builder themes.
------------------------------------------------------ */

.fl-builder-content a.fl-button,
.fl-builder-content a.fl-button:visited {
	background: #fafafa;
	border: 1px solid #ccc;
	color: #333;
}
.fl-builder-content a.fl-button *,
.fl-builder-content a.fl-button:visited * {
	color: #333;
}.fl-row-content-wrap { margin: 0px; }.fl-row-content-wrap { padding: 20px; }.fl-row-fixed-width { max-width: 1100px; }.fl-module-content { margin: 20px; }@media (max-width: 992px) { /* Responsive Utilities
------------------------------------------------------ */

.fl-visible-desktop,
.fl-visible-mobile,
.fl-col-group .fl-visible-desktop.fl-col,
.fl-col-group .fl-visible-mobile.fl-col {
	display: none;
}
.fl-visible-desktop-medium,
.fl-visible-medium,
.fl-visible-medium-mobile,
.fl-col-group .fl-visible-desktop-medium.fl-col,
.fl-col-group .fl-visible-medium.fl-col,
.fl-col-group .fl-visible-medium-mobile.fl-col {
	display: block;
} }@media (max-width: 768px) { /* Responsive Utilities
------------------------------------------------------ */

.fl-visible-desktop,
.fl-visible-desktop-medium,
.fl-visible-medium,
.fl-col-group .fl-visible-desktop.fl-col,
.fl-col-group .fl-visible-desktop-medium.fl-col,
.fl-col-group .fl-visible-medium.fl-col {
	display: none;
}
.fl-visible-medium-mobile,
.fl-visible-mobile,
.fl-col-group .fl-visible-medium-mobile.fl-col,
.fl-col-group .fl-visible-mobile.fl-col {
	display: block;
}

/* Rows
------------------------------------------------------ */

.fl-row-content-wrap {
	background-attachment: scroll !important;
}
.fl-row-bg-parallax .fl-row-content-wrap {
	background-attachment: scroll !important;
	background-position: center center !important;
}

/* Column Groups
------------------------------------------------------ */

/* Equal Heights */
.fl-col-group.fl-col-group-equal-height {
	display: block;
}
.fl-col-group.fl-col-group-equal-height.fl-col-group-custom-width {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* Reversed Responsive Stacking */
.fl-col-group.fl-col-group-responsive-reversed {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	-ms-box-orient: horizontal;
	-webkit-flex-flow: row wrap;
}
.fl-col-group.fl-col-group-responsive-reversed .fl-col {
	-webkit-box-flex: 0 0 100%;
  	 -moz-box-flex: 0 0 100%;
  	  -webkit-flex: 0 0 100%;
  		  -ms-flex: 0 0 100%;
  			  flex: 0 0 100%;
			  max-width: 100%;
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(1) {
	-webkit-box-ordinal-group: 12;   /* OLD - iOS 6-, Safari 3.1-6 */
  	-moz-box-ordinal-group: 12;      /* OLD - Firefox 19- */
  	-ms-flex-order: 12;              /* TWEENER - IE 10 */
  	-webkit-order: 12;               /* NEW - Chrome */
	order: 12;
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(2) {
	-webkit-box-ordinal-group: 11;
  	-moz-box-ordinal-group: 11;
  	-ms-flex-order: 11;
  	-webkit-order: 11;
	order: 11;
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(3) {
	-webkit-box-ordinal-group: 10;
  	-moz-box-ordinal-group: 10;
  	-ms-flex-order: 10;
  	-webkit-order: 10;
	order: 10;
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(4) {
	-webkit-box-ordinal-group: 9;
  	-moz-box-ordinal-group: 9;
  	-ms-flex-order: 9;
  	-webkit-order: 9;
	order: 9;
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(5) {
	-webkit-box-ordinal-group: 8;
  	-moz-box-ordinal-group: 8;
  	-ms-flex-order: 8;
  	-webkit-order: 8;
	order: 8;
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(6) {
	-webkit-box-ordinal-group: 7;
  	-moz-box-ordinal-group: 7;
  	-ms-flex-order: 7;
  	-webkit-order: 7;
	order: 7;
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(7) {
	-webkit-box-ordinal-group: 6;
  	-moz-box-ordinal-group: 6;
  	-ms-flex-order: 6;
  	-webkit-order: 6;
	order: 6;
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(8) {
	-webkit-box-ordinal-group: 5;
  	-moz-box-ordinal-group: 5;
  	-ms-flex-order: 5;
  	-webkit-order: 5;
	order: 5;
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(9) {
	-webkit-box-ordinal-group: 4;
  	-moz-box-ordinal-group: 4;
  	-ms-flex-order: 4;
  	-webkit-order: 4;
	order: 4;
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(10) {
	-webkit-box-ordinal-group: 3;
  	-moz-box-ordinal-group: 3;
  	-ms-flex-order: 3;
  	-webkit-order: 3;
	order: 3;
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(11) {
	-webkit-box-ordinal-group: 2;
  	-moz-box-ordinal-group: 2;
  	-ms-flex-order: 2;
  	-webkit-order: 2;
	order: 2;
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(12) {
	-webkit-box-ordinal-group: 1;
  	-moz-box-ordinal-group: 1;
  	-ms-flex-order: 1;
  	-webkit-order: 1;
  	order: 1;
}

/* Columns
------------------------------------------------------ */

.fl-col {
	clear: both;
	float: none;
	margin-left: auto;
	margin-right: auto;
	width: auto !important;
}
.fl-col-small {
	max-width: 400px;
}
.fl-block-col-resize {
	display:none;
}
/* Rows
------------------------------------------------------ */

.fl-row[data-node] .fl-row-content-wrap {
	margin: 0;
	padding-left: 0;
	padding-right: 0;
}
.fl-row[data-node] .fl-bg-video,
.fl-row[data-node] .fl-bg-slideshow {
	left: 0;
	right: 0;
}

/* Columns
------------------------------------------------------ */

.fl-col[data-node] .fl-col-content {
	border-left: none;
	border-right: none;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
}
 }.page .fl-post-header, .single-fl-builder-template .fl-post-header { display:none; }



.fl-node-57571353380c6 .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-57571353380c6 .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-57571353380c6 .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}

.fl-node-57571353380c6 > .fl-row-content-wrap {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
}
 .fl-node-57571353380c6 > .fl-row-content-wrap {
	padding-top:0px;
	padding-bottom:40px;
}




.fl-node-5758c7ef9b62c .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-5758c7ef9b62c .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-5758c7ef9b62c .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}

.fl-node-5758c7ef9b62c > .fl-row-content-wrap {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
}




.fl-node-579bd8f21fd8f .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-579bd8f21fd8f .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-579bd8f21fd8f .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}

.fl-node-579bd8f21fd8f > .fl-row-content-wrap {
	border-style: solid;
	border-width: 0;
	background-clip: padding-box;
	border-color: rgba(10,10,10,0.1);
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}




.fl-node-57571353382cf {
	width: 33.33%;
}




.fl-node-5757135338222 {
	width: 33.33%;
}
.fl-node-5757135338222 > .fl-col-content {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}




.fl-node-575713533837c {
	width: 33.33%;
}




.fl-node-5758c7efa634d {
	width: 50%;
}




.fl-node-5758c7efa63fa {
	width: 50%;
}




.fl-node-579bd8f2220c6 {
	width: 100%;
}
/* Align
---------------------------------------------------*/

.fl-callout-left {
	text-align: left;
}
.fl-callout-center {
	text-align: center;
}
.fl-callout-right {
	text-align: right;
}
.fl-callout-right.fl-callout-icon-left,
.fl-callout-right.fl-callout-icon-right {
	display: table;
	float: right;
}

/* Title
---------------------------------------------------*/

body a.fl-callout-title-link {
	text-decoration: none;
}
body h1.fl-callout-title,
body h2.fl-callout-title,
body h3.fl-callout-title,
body h4.fl-callout-title,
body h5.fl-callout-title,
body h6.fl-callout-title {
	margin: 0;
	padding: 0 0 10px 0;
}

/* Text
---------------------------------------------------*/

.fl-callout-text p {
	margin: 0 !important;
	padding: 0 0 10px 0 !important;
}

/* Button
---------------------------------------------------*/

.fl-callout-button {
	padding: 10px 0 0 0;
}

/* Icons
---------------------------------------------------*/

/* Above/Below Title */
.fl-callout-icon-above-title .fl-icon {
	display: block;
	margin-bottom: 20px;
}
.fl-callout-icon-below-title .fl-icon {
	display: block;
	margin: 10px 0 15px;
}
.fl-callout-icon-above-title .fl-icon i,
.fl-callout-icon-below-title .fl-icon i {
	display: inline-block;
	float: none;
}

/* Left/Right of Title */
.fl-callout-icon-left-title .fl-callout-title,
.fl-callout-icon-right-title .fl-callout-title {
	display: inline-block;
}
.fl-callout-icon-left-title .fl-callout-title span,
.fl-callout-icon-right-title .fl-callout-title span {
	display: table-cell;
	vertical-align: middle;
}
.fl-callout-icon-left-title .fl-icon {
	padding-right: 15px;
}
.fl-callout-icon-right-title .fl-icon {
	padding-left: 15px;
}

/* Left/Right */
.fl-callout-icon-left .fl-icon,
.fl-callout-icon-left-text .fl-icon {
	display: inline;
	float: left;
	padding-right: 15px;
}
.fl-callout-icon-right .fl-icon,
.fl-callout-icon-right-text .fl-icon {
	vertical-align: top;
	padding-left: 15px;
}
.fl-callout-icon-left .fl-callout-content,
.fl-callout-icon-right .fl-callout-content,
.fl-callout-icon-left-text .fl-callout-text-wrap,
.fl-callout-icon-right-text .fl-callout-text-wrap {
	display: table-cell;
}
.fl-callout-right.fl-callout-icon-left .fl-icon {
	display: table-cell;
	vertical-align: top;
}

/* Photos
---------------------------------------------------*/

/* Above Title */
.fl-callout-photo-above-title .fl-photo {
	margin-bottom: 15px;
}

/* Below Title */
.fl-callout-photo-below-title .fl-photo {
	margin-bottom: 15px;
	margin-top: 5px;
}

/* Left */
.fl-callout-photo-left {
	display: table;
	table-layout: fixed; 
	width: 100%;
}
.fl-callout-photo-left .fl-callout-photo,
.fl-callout-photo-left-text .fl-callout-photo {
	display: table-cell;
	padding-right: 30px;
	width: 50%;
	vertical-align: top;
}
.fl-callout-photo-left .fl-callout-content,
.fl-callout-photo-left-text .fl-callout-text-wrap {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
}

/* Right */
.fl-callout-photo-right {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.fl-callout-photo-right .fl-callout-photo,
.fl-callout-photo-right-text .fl-callout-photo {
	display: table-cell;
	padding-left: 30px;
	width: 50%;
	vertical-align: top;
}
.fl-callout-photo-right .fl-callout-content,
.fl-callout-photo-right-text .fl-callout-text-wrap {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
}@media (max-width: 768px) { .fl-callout-photo-left,
.fl-callout-photo-right {
	display: block;
}
.fl-callout-photo-left .fl-callout-photo,
.fl-callout-photo-left-text .fl-callout-photo {
	display: block;
	margin-bottom: 15px;
	padding-left: 0;
	padding-right: 0;
	width: auto;
}
.fl-callout-photo-right .fl-callout-photo,
.fl-callout-photo-right-text .fl-callout-photo {
	display: block;
	margin-top: 25px;
	padding-left: 0;
	padding-right: 0;
	width: auto;
}
.fl-callout-photo-left .fl-callout-content,
.fl-callout-photo-left-text .fl-callout-content,
.fl-callout-photo-right .fl-callout-content,
.fl-callout-photo-right-text .fl-callout-content {
	display: block;
	width: auto;
} }.fl-node-5758c7f897c9c .fl-rich-text, .fl-node-5758c7f897c9c .fl-rich-text * {
	color: #!important;
}
img.mfp-img {
    padding-bottom: 40px !important;
}
@media (max-width: 768px) { /* Mobile Photo */
.fl-photo-content {
	width: 100%;
} }.fl-node-5758c868f0fae .fl-photo {
	text-align: center;
}
/* Stacked Alignment
---------------------------------------------------*/

.fl-cta-left {
	text-align: left;
}
.fl-cta-center {
	text-align: center;
}
.fl-cta-right {
	text-align: right;
}

/* Inline Alignment
---------------------------------------------------*/

.fl-cta-inline {
	display: table;
	width: 100%;
}
.fl-cta-inline .fl-cta-text,
.fl-cta-inline .fl-cta-button {
	display: table-cell;
	vertical-align: middle;
}
.fl-cta-inline .fl-cta-text {
	width: 70%;
}
.fl-cta-inline .fl-cta-button {
	padding-left: 30px;
	text-align: center;
	width: 30%;
}

/* Title
---------------------------------------------------*/

body h1.fl-cta-title,
body h2.fl-cta-title,
body h3.fl-cta-title,
body h4.fl-cta-title,
body h5.fl-cta-title,
body h6.fl-cta-title {
	margin: 0;
	padding: 0 0 10px 0;
}

/* Button
---------------------------------------------------*/

.fl-cta-stacked .fl-cta-button {
	padding-top: 20px;
}@media (max-width: 768px) { /* Inline Alignment
---------------------------------------------------*/

.fl-cta-inline {
	display: block;
	text-align: center;
}
.fl-cta-inline .fl-cta-text,
.fl-cta-inline .fl-cta-button {
	display: block;
}
.fl-cta-inline .fl-cta-text {
	width: auto;
}
.fl-cta-inline .fl-cta-button {
	padding-left: 0;
	padding-top: 20px;
	width: auto;
} }.fl-node-579bd837eda32 .fl-module-content {
	padding: 0px;
}
.fl-builder-content .fl-node-579bd837eda32 a.fl-button,
.fl-builder-content .fl-node-579bd837eda32 a.fl-button:visited {

		font-size: 16px;
	line-height: 18px;
	
		padding: 12px 24px;
	
		border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	
	}








	@media ( max-width: 768px ) {
		.fl-node-579bd837eda32 .fl-button-wrap {
			text-align: center;
		}
	}

