



.fl-node-57571353380c6 .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-57571353380c6 .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-57571353380c6 .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}

.fl-node-57571353380c6 > .fl-row-content-wrap {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
}
 .fl-node-57571353380c6 > .fl-row-content-wrap {
	padding-top:0px;
	padding-bottom:40px;
}




.fl-node-5758c7ef9b62c .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-5758c7ef9b62c .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-5758c7ef9b62c .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}

.fl-node-5758c7ef9b62c > .fl-row-content-wrap {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
}




.fl-node-579bd8f21fd8f .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-579bd8f21fd8f .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-579bd8f21fd8f .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}

.fl-node-579bd8f21fd8f > .fl-row-content-wrap {
	border-style: solid;
	border-width: 0;
	background-clip: padding-box;
	border-color: rgba(10,10,10,0.1);
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}




.fl-node-57571353382cf {
	width: 33.33%;
}




.fl-node-5757135338222 {
	width: 33.33%;
}
.fl-node-5757135338222 > .fl-col-content {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}




.fl-node-575713533837c {
	width: 33.33%;
}




.fl-node-5758c7efa634d {
	width: 50%;
}




.fl-node-5758c7efa63fa {
	width: 50%;
}




.fl-node-579bd8f2220c6 {
	width: 100%;
}
