/* Variables */

//
// Row
$repeater_row_shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
$repeater_row_background: #fff;
$repeater_row_background_hover: #f3f3f5;
$repeater_row_text_color: #555; // row label
$repeater_row_text_hidden_color: #c5c8cc; // row label while section hidden
$repeater_row_text_hover_color: #0073aa; //  row label hover
$repeater_row_separator_color: #e2e4e7;
//
// Row Nav
$repeater_row_nav_tab_hover: #0073aa;
$repeater_row_nav_tab_border: #ddd;
//
// Repeater Field Text
$repeat_field_text_border_radius: 4px;
$repeat_field_text_border: #ddd;
$repeat_field_text_shadow: 0 0 4px rgba(0, 0, 0, 0.06);
$repeat_field_text_inner_shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
//
// Repeater Select
$repeat_field_dropdown_border_radius: 4px;
$repeat_field_dropdown_border: #ddd;
$repeat_field_dropdown_shadow: 0 0 4px rgba(0, 0, 0, 0.06);
$repeat_field_dropdown_inner_shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
//
// Repeater Icon picker
$repeat_field_icon_picker_inner_shadow: inset 0 1px 1px rgba(0, 0, 0, .05);


// General customizer styles
body.wp-customizer {
	font-size: 13px;
}

.customize-control  {
	input {
		padding: 6px 8px;
	}

	select {
		padding: 2px;
	}

	textarea {
		padding: 6px 8px;
	}

	input, select, textarea {
		border-radius: 4px;
		border: 1px solid #8d96a0;
		box-shadow: 0 0 0 transparent;
		background: #fff;
		font-size: inherit;
		transition: box-shadow .1s linear;

		&:focus {
			border-color: #00a0d2;
			box-shadow: 0 0 0 1px #00a0d2;
			color: #191e23;
			outline: 2px solid transparent;
			outline-offset: -2px;
		}
	}
}


/* Start Controls */
@import "scss/controls/upsell";
@import "scss/controls/slider";
@import "scss/controls/toggle";
@import "scss/controls/tooltip";
@import "scss/controls/color-picker";
@import "scss/controls/color-schemes";
@import "scss/controls/typography";
@import "scss/controls/layouts";
@import "scss/controls/field-repeater";
@import "scss/controls/section-repeater-control";
@import "scss/controls/image";
@import "scss/controls/icon-picker";
@import "scss/controls/customizer-navigation";
@import "scss/controls/repeater-field-selectize.scss";
@import "scss/controls/image-dimensions";
@import "scss/controls/page-changer";
@import "scss/controls/field-margins-paddings.scss";

/* Start Sections */
@import "scss/sections/pro-section";
@import "scss/sections/recommended-actions";
@import "scss/sections/section-doubled";

/* Start Previewer CSS */
@import "scss/misc/quick-edit-item.scss";
@import "scss/misc/quick-edit-section.scss";

.in-sub-panel #customize-theme-controls .customize-pane-child.current-panel-parent,
#customize-theme-controls .customize-pane-child.current-section-parent {
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}

#customize-theme-controls .customize-pane-child.accordion-section-content,
#customize-theme-controls .customize-pane-child.accordion-sub-container {
	overflow: hidden !important;
}

.epsilon-hidden {
	opacity: 0;
	visibility: hidden;
	display: none !important;
}

/* debug blocks */

.epsilon-control-container {
	background: #cce6ff;
}

.epsilon-control-set-advanced {
	background: #8f9cb2;
}

.epsilon-control-set-dropdown {
	background: #b8a1c9;
}

.epsilon-control-container label {
	background: #e0cb99;
}

.epsilon-control-container,
.epsilon-control-set-advanced,
.epsilon-control-set-dropdown,
.epsilon-control-container label {
	background: transparent;
}

.epsilon-control-container {
}

.epsilon-control-container label {
	line-height: 20px;
	display: block;
}

.epsilon-control-dropdown,
.epsilon-control-advanced {
	background-color: #fefefe;
	border: solid 1px rgba(219, 219, 219, .9);
	width: 32px;
	height: 32px;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}

.epsilon-control-advanced i,
.epsilon-control-dropdown i {
	display: block;
	margin: 7px auto 0 auto;
}

.epsilon-control-advanced {
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .06);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, .06);
	box-shadow: 0 0 4px rgba(0, 0, 0, .06);
	border-radius: 3px;
	&.active,
	&:hover {
		color: #57a7c9;
	}
}

.epsilon-control-dropdown {
	border-left: none;
	width: 34px;
	border-radius: 0 3px 3px 0;
}

.epsilon-control-field {
	padding-left: 10px;
	background: #fefefe;
	height: 35px;
	position: relative;
	overflow: hidden;
	border-radius: 3px 0 0 3px;
	border: solid 1px rgba(219, 219, 219, .9);
	line-height: 35px;
	box-sizing: border-box;
}

.epsilon-control-set-advanced .epsilon-control-field {
	border-radius: 3px;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .06);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, .06);
	box-shadow: 0 0 4px rgba(0, 0, 0, .06);
	border-radius: 3px;
}

.epsilon-control-field a {
	text-decoration: none;
	color: #555;
}

.epsilon-control-set,
.epsilon-control-set-advanced,
.epsilon-control-set-dropdown {
	height: 35px;
	width: 100%;
	position: relative;
	box-sizing: border-box;
}

.epsilon-control-set-advanced.epsilon-group-two {
	padding-right: 111px;
}

.epsilon-control-set-advanced.epsilon-group-two .epsilon-control-group {
	position: absolute;
	top: 0;
	right: 38px;
	width: 70px;
	height: 35px;
}

.epsilon-control-set-advanced {
	padding-right: 38px;
}

.epsilon-control-set-dropdown {
	padding-right: 35px;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .06);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, .06);
	box-shadow: 0 0 4px rgba(0, 0, 0, .06);
}

.epsilon-control-group {
	width: 100%;
	height: 33px;
	background: #fefefe;
	border-radius: 3px;
	line-height: 35px;
	cursor: pointer;
	box-sizing: border-box;
	border: solid 1px rgba(219, 219, 219, .9);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .06);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, .06);
	box-shadow: 0 0 4px rgba(0, 0, 0, .06);
	height: 35px;

	&:after {
		content: "";
		display: block;
		clear:both;
	}
}

.epsilon-control-group a {
	height: 33px;
	background: rgba(150, 180, 150, 0);
	text-align: center;
	text-decoration: none;
}

.epsilon-control-group {
	a {
		img, i, span {
			pointer-events: none;
		}
	}
}

.epsilon-control-group a.active {
	background-color: #fefefe;
	-webkit-box-shadow: inset 0 3px 0px #57a7c9, inset 2px 0px 5px 0px rgba(0, 0, 0, 0.05), inset -2px 0px 5px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 3px 0px #57a7c9, inset 2px 0px 5px 0px rgba(0, 0, 0, 0.05), inset -2px 0px 5px 0px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 3px 0px #57a7c9, inset 2px 0px 5px 0px rgba(0, 0, 0, 0.05), inset -2px 0px 5px 0px rgba(0, 0, 0, 0.05);
}

.epsilon-control-group i {
	margin-top: 4px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.epsilon-control-group a:nth-child(odd) {
	background: rgba(150, 180, 150, 0);
}

.epsilon-control-group.epsilon-group-five {
	a, input {
		width: 18.95%;
		display: inline-block;
	}
}

.epsilon-control-group.epsilon-group-four {
	a, input {
		width: 25%;
		display: inline-block;
	}
}

.epsilon-control-group.epsilon-group-three {
	a, input {
		width: 33.333333%;
		display: inline-block;
	}
}

.epsilon-control-group.epsilon-group-two {
	a, input {
		width: 50%;
		display: inline-block;
	}
}

.epsilon-control-group {
	> a {
		float: left;
		display: block;
	}
}

.epsilon-layout-select-set {
	a {
		display: inline-block;
		border: 1px solid gray;
		&.active {
			border-color: red;
		}
	}
	img {
		pointer-events: none;
	}
}

.hidden-section-panel {
	opacity: .5;
	position: relative;
	&:before {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1231;
		display: block;
		content: '';
	}
}

.customize-control-epsilon-separator {
	&.first-child {
		margin-top: 0;
	}
	margin-top: 30px;
}

/*
	Controls Spacing Debug
*/

.repeater-row-content {
}

.repeater-field {
	padding: 10px 0 10px 0;
	margin: 0;
	&.repeater-field-epsilon-text-editor {
		padding-top: 10px;
	}
	select {
		display: inline-block;
		width: 150px;
		max-width: 100%;
		float: right;
		margin: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	&.repeater-field- {
		display: none;
	}
}

.customize-control-title {
	font-weight: 400;
}

.selectize-input {
	border: 1px solid $repeat_field_dropdown_border;
	box-shadow: $repeat_field_dropdown_inner_shadow;
}

.selectize-dropdown {
	z-index: 20;
}

.repeater-field {
	.tmce-active {

		iframe {
			min-height: 150px;
		}
	}
}

.epsilon-is-loadable {
	-webkit-transition: all .3s;
	transition: all .3s;
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		opacity: 0;
		content: '';
		z-index: 100000;
		background: #fff;
		visibility: hidden;
		-webkit-transition: all .3s;
		transition: all .3s;
	}
}

.epsilon-loading {
	position: relative;
	-webkit-transition: all .3s;
	transition: all .3s;
	&:before {
		position: absolute;
		z-index: 100001;
		background-image: url('/wp-admin/images/spinner.gif');
		width: 20px;
		height: 20px;
		top: 100px;
		left: 50%;
		transform: translate(-50%, 0);
		content: ''
	}
	&:after {
		opacity: .7;
		visibility: visible;
		-webkit-transition: all .3s;
		transition: all .3s;
	}
}

li#accordion-section-exergie_repeatable_section > h3.accordion-section-title:before {
	content: "\f155";
	font-family: dashicons;
	position: relative;
	top: 4px;
	margin-right: 5px;
	font-size: 18px;
}

li#accordion-section-exergie_typography_section > h3.accordion-section-title:before {
	content: "\f215";
	font-family: dashicons;
	position: relative;
	top: 4px;
	margin-right: 5px;
	font-size: 18px;
}

li#accordion-section-colors > h3.accordion-section-title:before {
	content: "\f100";
	font-family: dashicons;
	position: relative;
	top: 4px;
	margin-right: 5px;
	font-size: 18px;
}

li#accordion-panel-nav_menus > h3.accordion-section-title:before {
	content: "\f333";
	font-family: dashicons;
	position: relative;
	top: 4px;
	margin-right: 5px;
	font-size: 18px;
}

li#accordion-panel-widgets > h3.accordion-section-title:before {
	content: "\f116";
	font-family: dashicons;
	position: relative;
	top: 4px;
	margin-right: 5px;
	font-size: 18px;
}

li#accordion-section-custom_css > h3.accordion-section-title:before {
	content: "\f540";
	font-family: dashicons;
	position: relative;
	top: 4px;
	margin-right: 5px;
	font-size: 18px;
}

li#accordion-section-header_image > h3.accordion-section-title:before {
	content: "\f105";
	font-family: dashicons;
	position: relative;
	top: 4px;
	margin-right: 5px;
	font-size: 18px;
}

li#accordion-section-title_tagline > h3.accordion-section-title:before {
	content: "\f319";
	font-family: dashicons;
	position: relative;
	top: 4px;
	margin-right: 5px;
	font-size: 18px;
}

li#accordion-panel-exergie_panel_general > h3.accordion-section-title:before {
	content: "\f111";
	font-family: dashicons;
	position: relative;
	top: 4px;
	margin-right: 5px;
	font-size: 18px;
}

li#accordion-section-exergie_header_section > h3.accordion-section-title:before,
li#accordion-section-exergie_footer_section > h3.accordion-section-title:before {
	content: "\f308";
	font-family: dashicons;
	position: relative;
	top: 4px;
	margin-right: 5px;
	font-size: 18px;
}

