/*
 Theme Name:   exergie theme Child
 Theme URI:    
 Description:  Le Thème pour Exergie
 Author:       Malik Koné & Anémone Kouadio
 Author URI:   https://www.tiko.ci
 Template:     portum
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags: Blog, E-Commerce
 Text Domain:  twenty-fifteen-child
*/
/* test */
@import url("../portum/style.css");

/*--Header*/
#header.portum-classic header--over-content header--no-shadow header--has-sticky-logo stuck{
    background-color: #FFFFFF!important;
}
#header ul a{
	color: #2f2f31 !important;
}
#header ul a:hover {
	color: #cc662e !important;
}
/*End of the header*/

.ewf-btn:hover{
	background-color: #cc672d !important;
}
/*.ewf-partner img, .ewf-partner-slider img{
	width: 200px !important;
	height: 137px !important;
}*/
/*.vc_row {
	display: inline-block !important;
	width: 285px;
}
*/


img.wp-image-579{
	display: block;
    margin-left: auto;
    margin-right: auto
}
img.wp-image-577{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
img.wp-image-576{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
img.wp-image-578{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
/*.block-text{
	width: 280px;
	display: inline-block;
	
}
.block-text p{
	margin-left: auto;
    margin-right: auto;
    
    text-align: center;
}*/
.nav{
	line-height: 150px;
}
hr{
	color: #FFFFFF;
}
p.text{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#footer-bottom {
    background-color: #000;

}

/*.ewf-icon{
    display: inline-block;
    border-style: solid;
    border-width: 0px;
    font-size: 36px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h3.headline{

}
/*h3, .ewf-like-h3 {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 40px;
    line-height: 1.25;
}
